@charset "utf-8";

/* 
  영문 포인트
  font-family: 'Abhaya Libre', serif;

  영문, 한글 기본
  font-family: 'Noto Sans KR', sans-serif;
*/

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* color: #2c3e50; */
  font-size: 13px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 가로스크롤 생김 방지 */
html,
body {
  overflow-x: hidden;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
div,
span,
p,
a {
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Sans KR', sans-serif; */
  /* color: #ff3901; */
}

/* ul, ol 블릿 제거 */
ul,
ol {
  list-style: none;
  text-decoration: none;
  /* color: #ff3901; */
}

/* a 요소 밑줄 없애기 */
a {
  text-decoration: none;
  color: #000;
}
