@charset "utf-8";

.cart-black-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000090;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.black-bg-on {
  visibility: visible;
  opacity: 1;
}

.cart-wrap {
  padding: 20px 45px;
}

.cart-white-bg {
  position: absolute;
  right: -50%;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

.white-bg-on {
  right: 0;
}

.cart-heading-wrap {
  padding: 1rem 0;
}

.cart-close-btn {
  position: absolute;
  right: 20px;
}

.table-container {
  position: relative;
  width: 100%;
}

.table-box {
  height: 450px;
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.table-box::-webkit-scrollbar {
  display: none;
}

.cart-heading-txt,
th {
  font-weight: normal;
}

.table-box table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* vertical-align: middle; */
  text-align: center;
}

/* .table-box table thead {
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #e0e0e0;
} */

/* .table-box table thead {
  position: absolute;
  top: 0;
}

.table-box table thead tr th {
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #e0e0e0;
} */

.table-box table tbody tr {
  display: table-row;
  border-bottom: 1px solid #e0e0e0;
}

.table-box table tbody tr:last-child {
  border-color: transparent;
}

.table-box table tr td {
  padding: 10px 0px;
  font-size: 14px;
}

.table-box table tr {
  display: table;
  /* table-layout: fixed; */
}

.col-name {
  width: 270px;
}

.col-delete {
  width: 25px;
}

.cart-img-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-item-img-box {
  width: 80px;
}

.cart-item-img {
  display: block;
  width: 100%;
}

.cart-quantity-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-item-btn {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.btn-style {
  border: 1px solid transparent;
  background-color: transparent;
}

.cart-payment-wrap {
  position: relative;
  font-size: 13px;
}

.shoppingbag-ask {
  height: 60px;
  /* margin: 20px 0; */
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.shoppingbag-ask-box {
  display: flex;
  align-items: center;
}

.shoppingbag-tip {
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.payment-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-mt {
  margin-top: 15px;
}

.payment-total {
  font-size: 16px;
  font-weight: bold;
}

.shipping-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.shipping-free {
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #efefef;
  color: #767676;
  font-size: 10px;
  vertical-align: middle;
}

.payment-btn-box {
  text-align: center;
}

.payment-btn {
  width: 100%;
  height: 45px;
  border: 1px solid transparent;
  /* border-radius: 5px; */
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.payment-btn:hover {
  border-color: #000;
  background-color: transparent;
  color: #000;
}
