@charset "utf-8";

.cont {
  /* padding: 0 45px; */
}

.prd-detail-wrap {
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.detail-prd-img-bx {
  width: 70%;
  height: 100vh;
  overflow: scroll;
}

.detail-prd-img-bx::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.detail-prd-img-bx {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.detail-img {
  width: 100%;
  display: block;
}

.detail-video {
  width: 100%;
  display: block;
}

.detail-prd-info-bx {
  width: 30%;
}

.detail-prd-info-inner {
  padding: 70px 0;
}

.detail-ctg {
  font-size: 12px;
}

.detail-flex {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-name {
  font-size: 20px;
  font-weight: 500;
}

.detail-price {
  font-size: 16px;
}

.detail-size {
  margin: 45px 0;
  display: flex;
  gap: 7px;
}

.detail-size-img-bx {
  width: 68px;
  text-align: center;
}

.detail-size-img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 3px;
}

.detail-size-img-bx:hover .detail-size-img,
.size-show {
  border: 1px solid #000;
  box-sizing: border-box;
}

.detail-size-txt-bx {
  text-align: center;
}

.detail-size-txt {
  display: inline-block;
  margin-top: 5px;
  font-size: 11px;
}

.detail-desc {
  margin: 30px 0;
  font-size: 14px;
  font-weight: 600;
}

.detail-summary {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
  word-break: break-all;
}

.cart-btn-bx {
  margin-top: 50px;
}

.cart-btn {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 14px;
  background: #000;
  border: none;
  box-sizing: border-box;

  transition: all 0.5s ease-out;
}

.cart-btn:hover {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}

.info-wrap {
  margin-top: 50px;
}

.info-bx {
  border-top: 1px solid lightgray;
}

.info-subject-bx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  font-size: 14px;
}

.info-txt {
  display: none;
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.7;
  word-break: break-all;
}

.info-txt span {
  color: red;
}

.mt {
  margin-top: 5px;
}

.bdbt {
  border-bottom: 1px solid lightgray;
}

.info-show {
  display: block;
}

.pointer {
  cursor: pointer;
}
