@charset "utf-8";

.calc {
  max-width: 35%;
  height: calc(100vh - 70px - 200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.pg-more-area {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
