@charset "utf-8";

.store-menu {
  padding: 15px 40px 45px;
}

.store-menu-flex {
  display: flex;
  gap: 7px;
}

.store-menu-item {
  display: inline-flex;
  align-items: center;
  height: 35px;
  padding: 0 20px;
  color: #767676;
  background: #efefef;
  border-radius: 50px;

  transition: all 0.5s ease-in-out;
}

.on,
.store-menu-item:hover {
  color: #fff;
  background: #000;
}

.store-list-grid {
  padding: 0 45px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3%;
}

.store-img-bx {
  position: relative;
}

.store-img-bx > img {
  width: 100%;
  display: block;
}

.store-img-bx > video {
  width: 100%;
  display: block;
}

.summary-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000090;
  visibility: hidden;
}

.summary-show {
  visibility: visible;
}

.summary-bg > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.summary-txt {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
  word-break: break-all;
}

.store-info-wrap {
  padding: 20px 0;
  margin-bottom: 20px;
}

.store-addr {
  margin-top: 10px;
}

.store-phone,
.store-hours {
  margin-top: 3px;
}
