@charset "utf-8";

.thumbnail_wrap {
  min-width: 100px;
  width: 100px;
  text-align: center;
}

.thumbnail_img {
  display: block;
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 50%;
}
