@charset "utf-8";

#cont {
  margin-top: 70px;
}

.cont {
  /* padding: 0 45px; */
}

.ctg-menu {
  padding: 40px 45px;
}

.ctg-list-item {
  min-width: 110px;
  width: 110px;
  cursor: pointer;
}

.ctg-list-item:hover .ctg-thumbnail > div {
  border-color: #000;
}

.ctg-thumbnail {
  text-align: center;
}

.ctg-thumbnail > div {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  transition: border-color 0.6s ease;
}

.ctg-thumbnail-img {
  display: block;
  padding: 5px;
  margin: 0 auto;
  width: 90%;
  height: auto;
  background: #fff;
  border-radius: 50%;
}

.ctg-thumbnail-txt {
  display: inline-block;
  margin-top: 5px;
}

.ctg-title-bx {
  height: 50px;
  border-bottom: 1px solid #000;
}

.ctg-title {
  padding: 0 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}

.list-count {
  margin-left: 5px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}

.prd-list-grid {
  padding: 0 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 7px;
}

.prd-list-thumbnail-img {
  width: 100%;
  height: auto;
}

.prd-list-info {
  padding: 20px 20px 50px;
}

.prd-list-desc {
  font-size: 12px;
}

.prd-list-name {
  margin: 6px 0;
  font-size: 15px;
  font-weight: 500;
}

.prd-list-price {
  font-size: 14px;
}
