@charset "utf-8";

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  /* sub page 속성 */
  background-color: #fff;
}

.header {
  height: 70px;
  padding: 0 45px;
}

.header > nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header > nav li {
  /* color: #fff; */

  /* sub page 속성 */
  color: #000;
}

.nav-wrap {
  display: flex;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > a {
  height: 100%;
}

.logo-svg {
  height: 100%;
}

.logo-svg path {
  /* fill: #fff; */

  /* sub page 속성 */
  fill: #000;
}

.list-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
