@charset "utf-8";

#main {
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 18.594vw;
  max-height: 357px;
  opacity: 0.2;
  mix-blend-mode: multiply;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
}

.main-bg {
  display: flex;
  height: 100vh;
}

.main-bg-section {
  width: 50%;
  height: 100%;
}

.bg-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.new-bx {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

.new-title {
  font-size: 26.5px;
  font-weight: 500;
}

.new-btn-bx {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}

.new-btn {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
}

.new-btn-bx:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  box-sizing: border-box;
}

.new-btn-bx:hover .new-btn {
  color: #fff;
}
